## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Fort Nelson,CA,58.8053,-122.7002,93.15,25,0,3.04,clear sky
1,1,Tiksi,RU,71.6872,128.8694,51.28,65,31,6.22,scattered clouds
2,2,Puerto Ayora,EC,-0.7393,-90.3518,69.55,94,42,5.01,scattered clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,38.86,81,75,11.50,broken clouds
4,4,Lompoc,US,34.6391,-120.4579,85.57,65,1,12.66,clear sky
5,5,Tasiilaq,GL,65.6145,-37.6368,44.76,77,100,3.83,overcast clouds
6,6,Kaitangata,NZ,-46.2817,169.8464,52.93,70,100,1.57,overcast clouds
7,7,Nyurba,RU,63.2842,118.3319,76.17,47,100,9.19,overcast clouds
8,8,Punta Arenas,CL,-53.1500,-70.9167,41.11,87,40,13.80,scattered clouds
9,9,Jamestown,US,42.0970,-79.2353,62.29,91,90,1.01,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Puerto Ayora,EC,-0.7393,-90.3518,69.55,94,42,5.01,scattered clouds
7,7,Nyurba,RU,63.2842,118.3319,76.17,47,100,9.19,overcast clouds
10,10,Xining,CN,36.6167,101.7667,67.03,54,71,2.80,broken clouds
11,11,Rikitea,PF,-23.1203,-134.9692,69.13,57,5,19.44,clear sky
12,12,Robertsport,LR,6.7533,-11.3686,77.58,79,100,12.35,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
702,702,Kutum,SD,14.2000,24.6667,72.00,78,81,19.15,broken clouds
704,704,Murgab,TM,37.4966,61.9714,75.07,31,0,9.22,clear sky
708,708,Dzerzhinsk,RU,56.2389,43.4631,67.82,68,0,4.47,clear sky
710,710,Melfi,IT,40.9965,15.6514,76.23,60,4,8.08,clear sky
713,713,Tabou,CI,4.4230,-7.3528,76.23,81,96,6.29,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

# Output: 387 Rows from previous cell = 385 rows in one column = 2 null value/empty rows

City_ID                387
City                   387
Country                385
Lat                    387
Lng                    387
Max Temp               387
Humidity               387
Cloudiness             387
Wind Speed             387
Current Description    387
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

# Previous cell determined no empty rows present; no data should be dropped
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Puerto Ayora,EC,-0.7393,-90.3518,69.55,94,42,5.01,scattered clouds
7,7,Nyurba,RU,63.2842,118.3319,76.17,47,100,9.19,overcast clouds
10,10,Xining,CN,36.6167,101.7667,67.03,54,71,2.80,broken clouds
11,11,Rikitea,PF,-23.1203,-134.9692,69.13,57,5,19.44,clear sky
12,12,Robertsport,LR,6.7533,-11.3686,77.58,79,100,12.35,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
702,702,Kutum,SD,14.2000,24.6667,72.00,78,81,19.15,broken clouds
704,704,Murgab,TM,37.4966,61.9714,75.07,31,0,9.22,clear sky
708,708,Dzerzhinsk,RU,56.2389,43.4631,67.82,68,0,4.47,clear sky
710,710,Melfi,IT,40.9965,15.6514,76.23,60,4,8.08,clear sky
713,713,Tabou,CI,4.4230,-7.3528,76.23,81,96,6.29,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Puerto Ayora,EC,69.55,scattered clouds,-0.7393,-90.3518,
7,Nyurba,RU,76.17,overcast clouds,63.2842,118.3319,
10,Xining,CN,67.03,broken clouds,36.6167,101.7667,
11,Rikitea,PF,69.13,clear sky,-23.1203,-134.9692,
12,Robertsport,LR,77.58,overcast clouds,6.7533,-11.3686,
13,Vilhena,BR,67.10,clear sky,-12.7406,-60.1458,
14,El Retorno,CO,70.09,overcast clouds,2.3302,-72.6276,
15,Albany,US,65.08,light rain,42.6001,-73.9662,
20,Svetlogorsk,BY,65.48,overcast clouds,52.6333,29.7333,
22,Urucara,BR,76.77,overcast clouds,-2.5364,-57.7600,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

#A) Import dependency
import numpy as np

#B)  Replace empty fields in Hotel Name column to NaN
# https://stackoverflow.com/questions/13445241/replacing-blank-values-white-space-with-nan-in-pandas
df = hotel_df.replace(r'^\s*$', np.nan, regex=True)

#C) Drop rows in hotel_df where there is NaN value under 'Hotel Name' column
clean_hotel_df = df.dropna()
clean_hotel_df

# Output: Previous cell displayed "Hotel not Found" for 16 cities. Original list (267 rows or cities). 267-16 = 251 cities with found hotels

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Puerto Ayora,EC,69.55,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,Nyurba,RU,76.17,overcast clouds,63.2842,118.3319,Gostinitsa Alrosa
10,Xining,CN,67.03,broken clouds,36.6167,101.7667,Super Leisure Hotel
11,Rikitea,PF,69.13,clear sky,-23.1203,-134.9692,People ThankYou
12,Robertsport,LR,77.58,overcast clouds,6.7533,-11.3686,Kwepunha Retreat
...,...,...,...,...,...,...,...
700,Panzhihua,CN,74.39,clear sky,26.5851,101.7128,Electric Power Hotel
702,Kutum,SD,72.00,broken clouds,14.2000,24.6667,Dibbo areaمنطقة دبو
708,Dzerzhinsk,RU,67.82,clear sky,56.2389,43.4631,Hotel Druzhba
710,Melfi,IT,76.23,clear sky,40.9965,15.6514,HOTEL TERME DI RAPOLLA
713,Tabou,CI,76.23,overcast clouds,4.4230,-7.3528,hotêl doufoulougou

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. Refactor your previous marker layer map code. 

#locations = hotel_df[["Lat", "Lng"]]
#max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             #max_intensity=300, point_radius=4)

# Create markers for each city on the heatmap and info box template
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

#fig.add_layer(heat_layer)

# Add markers on top of the heat map
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))